.text{ background-color: #fff; margin:10px 5px; padding:10px; display: inline-block;}
.heading{color:red; font-size: 18px; padding:10px;}
.text p{color: green; font-size: 14px; line-height: 20px; padding: 10px; margin-bottom: 16px;}
.btn-red{background-color: blue; color:yellowgreen; font-size: 15px; border-radius: 30px; float:right; padding: 5px; text-decoration: none;}